*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     /*não deixa somar o padding com widht e height*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
    padding: 30px;
    width: 400px;
    height: 400px;
    border: 3px solid #000;
    margin: 0 auto;
    position: relative; /*position: relative para que o absolute possa se posicionar em relacao ao pai*/
}
/* PROPRIEDADE PARA MUDAR O ELEMENTO QUANDO O CURSOS ESTIVER SOBRE ELE  */
#container:hover{
    background-color: #000;
    border-radius: 50px;
}
#container div{
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    display: flex;
    /*Centraliza o texto na div*/
    align-items: center;  /*Centraliza no eixo y*/
    justify-content: center; /*Centraliza no eixo x*/
    /* arredondar DIVs */
    border-radius: 50%;
}

#container div span {
    font-weight: bold;
}

/*top e left pertence a position: relative (posiciona em relacao a onde já estava, proprio elemento)*/
#container #box-01{
    background-color: yellow;
    position: absolute; /*position: absolute (se desloca em relacao ao elemento pai/container)*/
    top: 10px;
    left: 10px;
}

#container #box-02{
    background-color:red;
    position: absolute;
    top: 10px;
    right: 10px;
}

#container #box-03{
    background-color: #0f0;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#container #box-04{
    background-color: #06c;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#lgpd{

    background-color: #ddd;
    border-radius: 10px;
    padding: 10px;
    font-size: 10px;
    text-align: justify;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    /* posicionar botao ao lado do texto com flex */
    display: flex; /*pesquisar (alura)*/
    gap: 20px; /*espaço entre os elementos*/
    align-items: center;
}

#lgpd a{
    display: block;
    background-color: #09c;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
/* hover serve para q algo ocorra quando o cursor estiver sobre o elemento */
#lgpd a:hover{
    background-color: #06c;
}